@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
/* Cambiar el color de texto a blanco para todas las etiquetas de DataTables */
#users-list_filter label,         /* Texto del filtro */
#users-list_paginate,             /* Texto de la paginación */
#users-list_length label,         /* Texto del selector de longitud */
#users-list_info,                 /* Información de la página actual */
#users-list_paginate a,           /* Enlaces de paginación */
.dataTables_wrapper .dataTables_paginate .paginate_button, /* Botones de paginación */
.dataTables_wrapper .dataTables_info { /* Información total de registros */
    color: white;
}

/* Agrega un borde entre las celdas */
#users-list td, /* Aplica a las celdas del cuerpo */
#users-list th { /* Aplica a los encabezados */
   border-bottom: 1px solid #ccc; /* Cambia #ccc por el color que desees */
}

#users-list td, #users-list th {
    text-align: center;
    vertical-align: middle;
}

/* Separador entre productos seleccionados */
.separador{
    border-bottom: 1px solid #ccc;
}

h2 {
    text-align: center;
    color: #ffffff;
}

label {
    text-align: center;
    color: #000000;
}
/* Estilos de los campos de entrada */
.inputBox {
    position: relative;
    margin-bottom: 20px;
}

.inputBox input[type="text"],
.inputBox input[type="file"],
.inputBox select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f9f9f9;
    outline: none;
    transition: border-color 0.3s ease;
}

.inputBox input[type="text"]:focus,
.inputBox input[type="file"]:focus,
.inputBox select:focus {
    border-color: #34BB94;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.nuevoProd{
    display: grid 1fr;
    margin: auto;
    width: 100%;
    max-width: 450px;
    background: rgb(255, 255, 255, 0.2);
    padding: 20px 20px 20px;
    text-align: center;
    border-radius:25px ;
}

.colorTexto2{
    color: rgb(231, 227, 227);
    align-items: center;
}

.imagenForm{
    width: 120px;
    height: 120px;
}

.imagenCarrito{
    width: 10px;
    height: 10px;
}

.success {
    background-image: linear-gradient(to right, #489c64, #adb5bd);
    padding: 12px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 2px 2px 4px #000000;
    
} 
.success:hover {
    background-image: linear-gradient(to right, #4b8a5e, #adb5bd);
}

.danger {
    background-image: linear-gradient(to right, #a31557, #adb5bd);
    padding: 12px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 2px 2px 4px #000000;
    color: #000000;
    
} 
.danger:hover {
    background-image: linear-gradient(to right, #921d2d, #adb5bd);
}
.danger {
    background-image: linear-gradient(to right, #d33363, #adb5bd);
    padding: 12px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 2px 2px 4px #000000;
    
} 
.danger:hover {
    background-image: linear-gradient(to right, #d4495c, #adb5bd);
}

.secondary {
    background-image: linear-gradient(to right, #6c757d, #adb5bd);
    padding: 12px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 2px 2px 4px #000000;
    
} 
.secondary:hover {
    background-image: linear-gradient(to right, #848b92, #adb5bd);
}

.textoColor{
    color: white;
  text-shadow: 2px 2px 4px #000000;
}

.textoColor2{
    color: #000000;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 500px;
}

.texto-negrita{
    font-weight: 700; /* Más grueso */
    display: grid 1fr;
    margin: auto;
}
.comprados{
    
    display: grid 1fr;
    margin: auto;
    /* height: 100%; */
    /* max-height: 600px */
    width: 100%;
    max-width: 600px;
    background: rgb(255, 255, 255, 0.2);
    padding: 30px 30px 30px;
    text-align: center;
    border-radius:25px ;
    backdrop-filter: blur(5px);
}

.success {
    background-color: white;
    border: 2px solid #04AA6D;
    color: black;
    border-radius: 70px;
    padding: 5px;
} 

.success:hover {
    background-color: #46a049;
    color: white;
}

.recaudado {
    width: 300px;
    background-color: rgb(72, 129, 75);
    border: 2px solid #a4afab;
    color: bold;
    border-radius: 70px;
    padding: 3px;
    text-align: center;
} 

.recaudado:hover {
    background-color:rgb(72, 129, 75);
    color: white;
}

body {
    background: linear-gradient(rgba(33,33,33,0.522), rgba(33,33,33,0.522)),url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .3s ease;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.btn{
    padding: .4rem 1.5rem;
    background: var(--PrimaryColor);
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    color: var(--WhiteColor);
}

.btn  a {
    color: white;
    font-weight: 500;
}

.btn:hover a {
    color: var(--LogoText);
}

.secIntro{
    max-width: 70%;
    text-align: center;
    margin: 0 auto 2rem;

}
.secIntro .secTitle{
    color: black;
    line-height: 1.5rem;
    padding-bottom: .5rem;
}

.secIntro p{
    font-size: 13px;
    color: var(--TextColor);
    font-weight: 500;
}

img, video{
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
}

:root {
    --PrimaryColor: #560319; /* Borgoña oscuro */
    --HoverColor: hsl(330, 28%, 17%); /* Un tono más oscuro para el hover */
    --WhiteColor: #ffffff; /* Blanco */
    --BlackColor: #000000; /* Negro */
    --TextColor: hsl(0, 0%, 45%); /* Un tono más oscuro para el texto */
    --WhiteColorDim: hsl(0, 0%, 93%); /* Blanco ligeramente atenuado */
    --GreyBg: hsl(0, 0%, 94%); /* Un gris claro para el fondo */
    --GreyText: hsl(0, 0%, 75%); /* Un gris más oscuro para el texto secundario */
    --InputColor: hsl(0, 0%, 97%); /* Un blanco ligeramente azulado para campos de entrada */
}

/* media queries */
@media screen and (min-width: 556px) {
    .mainContent {
        grid-template-columns: repeat(2,1fr);
        display: grid;
        margin: .5rem;
    }
}
